<nav class="navbar navbar-expand navbar-dark bg-dark justify-content-between" *ngIf="currentUser">
    <div class="navbar-brand" routerLink="/">{{app}}</div>
    <div class="navbar-nav ml-auto mr-sm-5">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <div class="dropdown">
            <a class="nav-item nav-link dropdown-toggle btn" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <p class="dropdown-header">User<br>{{loggedUser.id}}</p>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>
    </div>
</nav>

<!-- main content container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>