<div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>New Pasword</label>
            <input type="password" class="form-control" formControlName="newPassword" [ngClass]="{ 'is-invalid': submitted && fval.newPassword.errors}">
            <div *ngIf="submitted && fval.newPassword.errors" class="invalid-feedback">
                <div *ngIf="fval.newPassword.errors.required">This field is mandatory</div>
                <div [ngClass]="fval.newPassword.errors.minlength || fval.newPassword.errors.required?'text-danger':'text-success'">Minimum length should be 8 characters.</div>
                <div [ngClass]="fval.newPassword.errors.maxlength || fval.newPassword.errors.required?'text-danger':'text-success'">Maximum length can be 12 characters.</div>
                <div [ngClass]="fval.newPassword.errors.hasUpperCase || fval.newPassword.errors.required?'text-danger':'text-success'">Must contain 1 Upper Case alphabet.</div>
                <div [ngClass]="fval.newPassword.errors.hasLowerCase || fval.newPassword.errors.required?'text-danger':'text-success'">Must contain 1 Lower Case alphabet.</div>
                <div [ngClass]="fval.newPassword.errors.hasSpecialCharacter || fval.newPassword.errors.required?'text-danger':'text-success'">Must contain 1 Special Character among [ !,@,#,$,%,^,&,*,(,),_,+,-,= ].</div>
            </div>
        </div>

        <div class="form-group">
            <label>Confirm Pasword</label>
            <input type="password" class="form-control" formControlName="confirmPassword" [ngClass]="{ 'is-invalid': submitted && fval.confirmPassword.errors}">
            <div *ngIf="submitted && fval.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="fval.confirmPassword.errors.required">This field is mandatory</div>
                <div *ngIf="fval.confirmPassword.errors.mustMatch">Password must match</div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-warning">
                Reset Password
            </button>
        </div>
    </form>
</div>
